.block-editor__alignment-visualizer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.5;
	background-color: var(--wp-admin-theme-color);
	// border-style: solid;
	pointer-events: none !important;
	box-sizing: border-box;
}
